<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">directions_car</mat-icon>
    </ng-template>

    <car></car>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">directions_boat</mat-icon>
    </ng-template>
    <boat></boat>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">two_wheeler</mat-icon>
    </ng-template>
    Comming soon ...
  </mat-tab>

</mat-tab-group>
